* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.lock text eol=lf

*.bat text eol=crlf
*.ps1 text eol=crlf
